<form>  
      <h1>Sign Up Form</h1><br>
         
    <input type="text" name="firstname" size="15" placeholder=" Enter Firstname" required/> <br> <br>  
    <input type="text" name="lastname" size="15" placeholder="Enter Lastname" required/> <br> <br>     
    
      
  
    <input type="number" name="country code"  value="+91" size="2" placeholder="Enter Phonenumber" required/>   
  
    <br> <br>  

    <input type="email" id="email" name="email" placeholder="Enter Email" required/>  
    <br> <br>  

    <input type="Password" id="pass" name="pass" placeholder="Enter Password" required/>   
    <br> <br>  
     
    <input type="Password" id="repass" name="repass" placeholder="Re-type Password" required> <br> <br>  
    <div style="text-align: center;">
    
        <button routerLink="/home">Sign In</button><br><br>
    </div>
   
    </form>  