
  <div>
    <div class="head">
      <header class="header">
        <a href="#"  class="logo">Sapna.
        </a>
    
        <nav class="navbar ">
          <div class="row">
             <a href="#home" class="active">Home</a>
             <a href="#about">About</a> 
             <a href="#education">Education</a>
             <a href="#skills">Skills</a>
             <a href="#contact">Contact</a>
          </div>
    
        </nav>
      </header>  
    
    </div>
   <!-- about section -->
    <section id="about">
       <h2>About</h2>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis fugit doloremque, dolore ipsam necessitatibus odio architecto eum, aspernatur non hic amet suscipit velit reiciendis, illum ratione. Ducimus error veniam quisquam.
       Labore, voluptatum blanditiis debitis quis et optio? Expedita, nemo pariatur, vel, alias voluptatem consequatur nobis rem similique omnis sunt natus. Aut quasi alias odio. Ut quibusdam assumenda animi? Necessitatibus, quaerat?
       Optio laboriosam tenetur non, cumque dolores voluptates soluta, cupiditate sunt nostrum omnis perferendis sint, at amet maxime inventore laborum vel placeat. Commodi veniam fugit error, ipsum neque vel debitis voluptatibus!
       Est non inventore, labore aperiam voluptas, soluta tenetur maxime, porro nulla nostrum voluptate tempora consequuntur perferendis recusandae quidem accusantium impedit enim. Consectetur molestias ipsa cupiditate molestiae deleniti saepe fugit odio.
       Aliquid magnam, nemo iusto doloribus doloremque perferendis fuga iure unde debitis deleniti quisquam ut accusantium dolores officiis tenetur magni. Quis repudiandae unde tempora deleniti. Doloribus ea officia nostrum quam veniam.
    </section>
  </div>